@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 50% 95%; /* cream */
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 270 80% 80%; /* light purple */
    --primary-foreground: 240 10% 3.9%;
    --secondary: 150 50% 30%; /* dark green */
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 0 0% 0%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 3.9%;
    --input: 0 0% 100%;
    --ring: 270 80% 80%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 220 20% 96%;
    --card: 240 10% 3.9%;
    --card-foreground: 220 20% 96%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 220 20% 96%;
    --primary: 270 80% 80%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 150 50% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 140 76% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 3.9%;
    --input: 240 3.7% 15.9%;
    --ring: 270 80% 80%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#hero-svg path {
    fill: transparent;
}

#marquee-text-hero1{
 font-size: inherit;
 font-weight: 400;
 fill: #1A1A1A;
 baseline-shift: -20%;
 opacity: 0.4;
}

#marquee-text-hero2{
 font-size: inherit;
 font-weight: 600;
 fill: #fff;
 baseline-shift: -30%;
}
