@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.animate:hover {
  animation-play-state: paused;
}


.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate:hover {
  animation-play-state: paused;
}

.heartbeat {
  animation: beat 0.3s infinite alternate;
  transform-origin: center;
}

@keyframes beat {
  to {
    transform: scale(1.02);
  }
}

.heartbeat:hover {
  animation-play-state: paused;
}
